  <% if user_signed_in? && @user == current_user %>
    <h1 class="index">マイページ</h1>
  <% else %>
    <h1 class="index"><%= @user.name %>さんのページ</h1>
  <% end %>

  <div class="user-info">
  <% if user_signed_in? && @user == current_user && @user.name != "guestuser"%>
   <p>
     <%= link_to "編集ページへ",edit_user_path(@user), class: "fas fa-user-cog edit_user_#{@user.id}" %>
   </p>
   <% end %>
     <%= attachment_image_tag @user, :profile_image, size: '100x100', fallback: "no_image.jpg" %>

    <%= render "relationships/follow", user: @user %>

    <h3>follows</h3>
    <%= link_to  "フォロー数: #{@user.follower.count}", user_followings_path(@user) %>

    <h3>followers</h3>
    <%= link_to  "フォロワー数: #{@user.followed.count}", user_followers_path(@user) %>
    <div class="user-info__chat">
      <% if current_user != @user %>
        <%= link_to 'chatを始める', chat_path(@user.id), class: "botton-send" %>
      <% end %>
    </div>
    <div class ="user-info__post" >
  <% if user_signed_in? && @user == current_user %>
    <p>投稿一覧</p>
  <% else %>
    <p><%= @user.name %>さんの投稿一覧</p>
  <% end %>
  <%= render "posts/list", posts: @posts %>
</div>
</div>


