<h1 class ="index">検索</h1>

<%= form_with url: search_path, method: :get, local: :true do |f| %>
  <div class = "search-group">
    <div class ="search-group__field">
      <%= f.select :range, options_for_select([['User'], ['Post']]) %>
      <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"]]) %>
      <%= f.text_field :word %><br>
      <%= f.submit "検索", class:"botton-search" %>
    </div>
<% end %>

  <div class ="search-group__list">
    <% if @range == "User" %>
        <% @users.each do |user| %>
            <%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg") %>
            <%= user.name %>   　
        <% end %>
    <% else %>
        <% @posts.each do |post| %>
            <%= post.contents %>  　
        <% end %>
    <% end %>
  </div>

</div>