<% @posts.each do |post| %>
<div>
  <%= link_to post_path(post.id) do %>
    <%= attachment_image_tag post, :image %>
    <p>説明：<%= post.contents %></p>
    <p>ユーザーネーム：<%= post.user.name %></p>
  <% end %>
  <p><%= link_to "#{post.comments.count} コメント", post_path(post.id) %></p>

</div>
<% end %>

<%= link_to '投稿フォーム', new_post_path %>