<h1 class="index">投稿詳細</h1>
  <div class ="post-contents">
    <div class ="post-contents__show">
        <%= link_to user_path(@post.user) do %>
        <%= attachment_image_tag(@post.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg") %>
        <% end %>
        <%= link_to @post.user.name, user_path(@post.user) %>
      <div class ="post-contents__show--contents">
        <%= @post.contents %>
      </div>
      <p>投稿日時：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
      <span>
        <% if @post.user == current_user %>
        <%= link_to '編集', edit_post_path(@post.id), method: :get, class: "botton-show" %>
        <%= link_to "削除", post_path(@post), method: :delete, class: "botton-delete"%>
        <% end %>
      </span>
        <%= render "favorites/like", post: @post %>
        <div>
          <%= attachment_image_tag @post, :image %>
        </div>
    </div>
    <p><%= @post.address %></p>
    <script type="text/javascript">
     function initMap() {
       var test = {lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
       var map = new google.maps.Map(document.getElementById('map'), {
                 zoom: 16,
                 center: test
                 });
       var transitLayer = new google.maps.TransitLayer();
       transitLayer.setMap(map);
       var contentString = '住所：<%= @post.address %>';
       var infowindow = new google.maps.InfoWindow({
         content: contentString
       });
       var marker = new google.maps.Marker({
                     position:test,
                     map: map,
                     title: contentString
                   });
       marker.addListener('click', function() {
         infowindow.open(map, marker);
       });
     }
   </script>
   <script async defer
             src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
   </script>
   <style type="text/css">
     #map { height: 250px;
            width: 100%;}
   </style>
   <div id="map"></div>

    <!--コメントフォーム-->
    <div class="new-comment">
      <%= render 'comments/form', post: @post, comment: @comment %>
    </div>
    <!--コメント一覧部分-->
    <div id="comments_area"> 
      <%= render 'comments/post_comments', post: @post %>
    </div>
  </div>

  